.lista_cards{
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.card_container {
    display: flex;
    box-shadow: .2em .2em .8em black;
    height: 12em;
    width: 50em;
    margin-top: 28px;
}

.card_imagem {
    background-position: center;
}

.card_display {
    padding: 1em;
}

.card_dados {
    display: flex;
    flex-direction: column;
}